﻿@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee List";
    IEnumerable<EmployeePhoto> employeePhotos = Model.EmployeePhotos;
    var photoPath = "";
    var photo = "";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        @{
                            if (employeePhotos != null && employeePhotos.Count() > 1)
                            {

                                for (int i = 0; i < employeePhotos.Count(); i++)
                                {
                                    photoPath = $"~/images/{employeePhotos.ElementAt(i).PhotoPath ?? "noimage.png"}";
                                    if (i == 0)
                                    {
                                        <div class="carousel-item active">
                                            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                                        </div>
                                    }
                                    <div class="carousel-item">
                                        <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                                    </div>
                                }
                            }
                            else
                            {
                                if (employeePhotos!= null)
                                {
                                    photo = employeePhotos.FirstOrDefault(e => e.EmployeeId == Model.Employee.Id).PhotoPath;
                                } else
                                {
                                    photo = null;
                                }
                                photoPath = $"~/images/{photo ?? "noimage.png"}";
                                <div class="carousel-item active">
                                    <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                                </div>
                            }
                        }

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>



                






                <h4>Employee ID: @Model.Employee.Id</h4>
                <h4>Email: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Department</h4>
                <h4>Bank Account Number: @Model.Employee.BankAccountNumber</h4>

            </div>

            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}
